@using WebMatrix.WebData

@{ 
}

<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="~/Index.css" />
    <!-- Render Shared Header-->
    @RenderPage("~/_Shared/_Header.cshtml")
</head>
<body>
    <!-- Render Shared Navbar-->
    @RenderPage("~/_Shared/_Navbar.cshtml")
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                @RenderPage("~/_Shared/cakeCanvas.cshtml")
            </div>
            <div class="col-md-5">
                <div class="keuze-scherm">
                    <div class="text">
                        <h1>Keuze</h1>
                    </div>

                    <form>
                        <div class="form-group">
                            <select class="form-control" id="Grootte">
                                <option disabled selected>Voer het aantal personen in voor de taart</option>
                                <option value="0">1 < 15</option>
                                <option value="1">15 < 30</option>
                                <option value="2">30 < 45 </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="form-control" id="Thema" onchange="mythema()">
                                <option disabled selected>Kies uw thema</option>
                                <option value="1">Verjaardag volwassene</option>
                                <option value="1">Bruiloft</option>
                                <option value="1">Verjaardag kind</option>
                                <option value="Anders">Anders, namelijk...</option>
                            </select>
                            <div id="inputThema" style="display: none">
                                <input type="text" class="form-control" placeholder="Voer uw gewenste thema in" value="@Request.Form["inputThemaForm"]" />
                            </div>
                            <script>
                                function mythema() {
                                    var x = document.getElementById("Thema").value;
                                    if (x == "Anders") {
                                        inputThema.style.display = "block"
                                    }
                                    else {
                                        inputThema.style.display = "none"
                                    }
                                }
                            </script>
                        </div>
                        <div class="form-group">
                            <select class="form-control" id="Soort">
                                <option disabled selected>Kies het soort cake voor de taart</option>
                                <option>Biscuit Deeg</option>
                                <option>Choclade</option>
                                <option>Red velvet</option>
                            </select>
                        </div><div class="form-group">
                            <select class="form-control" id="Bekleding">
                                <option disabled selected>Kies de bekleding voor de taart</option>
                                <option>Fondant</option>
                                <option>Marsepein</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="form-control" id="Vulling">
                                <option disabled selected>Kies uw vulling</option>
                                <option>Kindervulling (vruchtencompote en room)</option>
                                <option>Gele room met Oreo vulling</option>
                                <option>Champagne Room met verse frambozen</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="form-control" id="Decoratie">
                                <option disabled selected>Kies het niveau van decoratie</option>
                                <option>Eenvoudig</option>
                                <option>Gemiddeld</option>
                                <option>Uitgebreid</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="form-control" id="Allergieen" onchange="myallergieen()">
                                <option disabled selected>Kies uw eventuele allergieen</option>
                                <option value="1">Geen</option>
                                <option value="1">Gluten Vrij </option>
                                <option value="Anders">Anders namelijk...</option>
                            </select>
                            <div id="inputAllergieen" style="display: none">
                                <input type="text" class="form-control" placeholder="Voer uw allergie in" value="@Request.Form["inputAllergieenForm"]" />
                            </div>
                            <script>
                                function myallergieen() {
                                    var x = document.getElementById("Allergieen").value;
                                    if (x == "Anders") {
                                        inputAllergieen.style.display = "block"
                                    }
                                    else {
                                        inputAllergieen.style.display = "none"
                                    }
                                }
                            </script>
                            <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
                            <script type="text/javascript" src="~/Scripts/GetInput.js"></script>
                        </div>

                        <!--<label class="custom-file">
                            <input type="file" id="file" class="custom-file-input">
                            <span class="custom-file-control"></span>
                        </label> -->

                        Datum van aflevering:

                        <div class="container">
                            <div class="row">
                                <div>
                                    <div class="form-group">
                                        <div class='input-group date' id='datetimepicker2'>
                                            <input type='date' class="form-control" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <script type="text/javascript">
                                    $(function () {
                                        $('#datetimepicker2').datetimepicker({
                                            locale: 'nl'
                                        });
                                    });
                                </script>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    
   
</body>
</html>