@using WebMatrix.WebData

@{
    Database db = Database.Open("FondantiDataBase");

    string personen;
    string thema;
    if (Session["personen"] == null || Convert.ToString(Session["personen"]) != Request["personen"])
    {
        personen = Request["personen"];
    }
    else { personen = Session["personen"] as string; }
    if (Session["personen"] == null && Request["personen"] == null)
    {
        personen = "Voer het aantal personen in voor de taart";
    }

    if (Session["thema"] == null || Convert.ToString(Session["thema"]) != Request["thema"])
    {
        thema = Request["thema"];
    }
    else { thema = Session["thema"] as string; }
    if (Session["thema"] == null && Request["thema"] == null)
    {
        thema = "Kies uw thema";
    }
    string cake = Request["Cake"];
    if (Session["cake"] == null || Convert.ToString(Session["cake"]) != Request["cake"])
    {
        cake = Request["cake"];
    }
    else { cake = Session["cake"] as string; }
    if (Session["cake"] == null && Request["cake"] == null)
    {
        cake = "Kies het soort cake voor de taart";
    }
    string vulling = Request["vulling"];
    if (Session["vulling"] == null || Convert.ToString(Session["vulling"]) != Request["vulling"])
    {
        vulling = Request["vulling"];
    }
    else { vulling = Session["vulling"] as string; }
    if (Session["vulling"] == null && Request["vulling"] == null)
    {
        vulling = "Kies uw vulling";
    }
    string Bekleding = Request["Bekleding"];
    if (Session["Bekleding"] == null || Convert.ToString(Session["Bekleding"]) != Request["Bekleding"])
    {
        Bekleding = Request["Bekleding"];
    }
    else { Bekleding = Session["Bekleding"] as string; }
    if (Session["Bekleding"] == null && Request["Bekleding"] == null)
    {
        Bekleding = "Kies uw bekleding";
    }
    string decoratie = Request["Decoratie"];
    if (Session["decoratie"] == null || Convert.ToString(Session["decoratie"]) != Request["decoratie"])
    {
        decoratie = Request["decoratie"];
    }
    else { decoratie = Session["decoratie"] as string; }
    if (Session["decoratie"] == null && Request["decoratie"] == null)
    {
        decoratie = "Kies het niveau van decoratie";
    }
    string allergieen = Request["Allergieen"];
    if (Session["allergieen"] == null || Convert.ToString(Session["allergieen"]) != Request["allergieen"])
    {
        allergieen = Request["allergieen"];
    }
    else { allergieen = Session["allergieen"] as string; }
    if (Session["allergieen"] == null && Request["allergieen"] == null)
    {
        allergieen = "Kies uw eventuele allergieen";
    }
    int ipersonen = 0;

    Session["personen"] = personen;
    Session["thema"] = thema;
    Session["cake"] = cake;
    Session["vulling"] = vulling;
    Session["bekleding"] = Bekleding;
    Session["decoratie"] = decoratie;
    Session["allergieen"] = allergieen;

    if (personen != "Voer het aantal personen in voor de taart")
    {
        ipersonen = Convert.ToInt32(personen);
    }
    decimal price = 0;
    dynamic prijsthema = db.Query("Select Prijs from Ingredienten where IngredientNaam = @0", thema);
    dynamic prijscake = db.Query("Select Prijs from Ingredienten where IngredientNaam = @0", cake);
    dynamic prijsvulling = db.Query("Select Prijs from Ingredienten where IngredientNaam = @0", vulling);
    dynamic prijsbekleding = db.Query("Select Prijs from Ingredienten where IngredientNaam = @0", Bekleding);
    dynamic prijsdecoratie = db.Query("Select Prijs from Ingredienten where IngredientNaam = @0", decoratie);

    if (thema != "Kies uw thema" && thema != null)
    {
        price = prijsthema[0].prijs + prijscake[0].prijs + prijsvulling[0].prijs + prijsbekleding[0].prijs + prijsdecoratie[0].prijs;
        price = price * ipersonen;
    }
    string sprice = "€" + price.ToString("##.###");
    if (sprice == "€")
    { sprice = ""; }
    db.Close();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/Index.css" />
    <!-- Render Shared Header-->
    @RenderPage("~/_Shared/_Header.cshtml")
</head>
<body>
    <!-- Render Shared Navbar-->
    @RenderPage("~/_Shared/_Navbar.cshtml")
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                @RenderPage("~/_Shared/cakeCanvas.cshtml")
            </div>
            <div class="col-md-5">
                <div class="keuze-scherm">
                    <div class="text">
                        <h1>Keuze</h1>
                    </div>

                    <form method="post">
                        <div class="form-group">
                            <select class="form-control" id="Grootte" name="personen" required>
                                <option disabled selected value="@personen">@personen</option>
                                <option value="15">1 < 15</option>
                                <option value="30">15 < 30</option>
                                <option value="45">30 < 45 </option>
                            </select>
                        </div>

                        <div class="form-group">
                            <select class="form-control" id="Thema" name="Thema" onchange="mythema()" required>
                                <option disabled selected value="@thema">@thema</option>
                                <option value="Verjaardag volwassene">Verjaardag volwassene</option>
                                <option value="Bruiloft">Bruiloft</option>
                                <option value="Verjaardag kind">Verjaardag kind</option>
                                <option value="Anders">Anders, namelijk...</option>
                            </select>
                            <div id="inputThema" style="display: none">
                                <input type="text" class="form-control" placeholder="Voer uw gewenste thema in" value="@Request.Form["inputThemaForm"]" />
                            </div>
                            <script>
                                function mythema() {
                                    var x = document.getElementById("Thema").value;
                                    if (x == "Anders") {
                                        inputThema.style.display = "block"
                                    }
                                    else {
                                        inputThema.style.display = "none"
                                    }
                                }
                            </script>
                        </div>

                        <div class="form-group">
                            <select class="form-control" id="Soort" name="Cake" required>
                                <option disabled selected value="@cake">@cake</option>
                                <option value="Biscuit Deeg">Biscuit Deeg</option>
                                <option value="Choclade">Choclade</option>
                                <option value="Red velvet">Red velvet</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <select class="form-control" name="Vulling" id="Vulling" required>
                                <option disabled selected value="@vulling">@vulling</option>
                                <option value="Kindervulling (vruchtencompote en room)">Kindervulling (vruchtencompote en room)</option>
                                <option value="Gele room met Oreo vulling">Gele room met Oreo vulling</option>
                                <option value="Champagne Room met verse frambozen">Champagne Room met verse frambozen</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <select class="form-control" name="Bekleding" id="Bekleding" required>
                                <option disabled selected value="@Bekleding">@Bekleding</option>
                                <option value="Fondant">Fondant</option>
                                <option value="Marsepein">Marsepein</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <select class="form-control" name="Decoratie" id="Decoratie" required>
                                <option disabled selected value="@decoratie">@decoratie</option>
                                <option value="Eenvoudig">Eenvoudig</option>
                                <option value="Gemiddeld">Gemiddeld</option>
                                <option value="Uitgebreid">Uitgebreid</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <select class="form-control" id="Allergieen" name="Allergieen" onchange="myallergieen()" required>
                                <option disabled selected value="@allergieen">@allergieen</option>
                                <option value="1">Geen</option>
                                <option value="1">Gluten Vrij </option>
                                <option value="Anders">Anders namelijk...</option>
                            </select>
                            <div id="inputAllergieen" style="display: none">
                                <input type="text" class="form-control" placeholder="Voer uw allergie in" value="@Request.Form["inputAllergieenForm"]" />
                            </div>
                            <script>
                                function myallergieen() {
                                    var x = document.getElementById("Allergieen").value;
                                    if (x == "Anders") {
                                        inputAllergieen.style.display = "block"
                                    }
                                    else {
                                        inputAllergieen.style.display = "none"
                                    }
                                }
                            </script>
                        </div>
                        <div class="form-group">
                            <input type="file" class="form-control" />
                        </div>

                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker2'>
                                <input type='date' class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <script type="text/javascript">
                            $(function () {
                                $('#datetimepicker2').datetimepicker({
                                    locale: 'nl'
                                });
                            });
                        </script>
                        <div class="form-group">
                            <div class="container">
                                <div class="row">
                                    <button class="btn btn-primary" type="submit" name="submit">Bereken Prijs</button>
                                    <div class="col-md-5 col-md-offset-6">
                                        <div class="price" style="position: relative; float: left;top: 50%;left: 50%;transform: translate(-50%, -50%);">
                                            @sprice
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
                        <script type="text/javascript" src="~/Scripts/GetInput.js"></script>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>