    @{ 
        var UserName = "";
        var Forename = "";
        var Surname = "";

        var message = "";
        if (WebSecurity.Initialized == false)
        {
            WebSecurity.InitializeDatabaseConnection("FondantiDataBase", "Users", "UserId", "Username", true);
        }

        else
        if (IsPost)
        {
            AntiForgery.Validate();
            UserName = Request["UserName"];
            var Password = Request["Password"];
            var ConfirmPassword = Request["ConfirmPassword"];
            Forename = Request["Forename"];
            Surname = Request["Surname"];



            //VALIDATION
            Validation.RequireFields("UserName", "Password", "ConfirmPassword", "Forename", "Surname");

            Validation.Add("Password",
                Validator.StringLength(16, 6));

            Validation.Add("UserName",
                Validator.Regex(@"\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*", "Please enter a correct email address format"));

            if (ConfirmPassword != Password)
            {
                Validation.AddFormError("Sorry passwords do not match");
            }



            //ATTEMPT TO CREATE THE ACCOUNT 
            if (Validation.IsValid())
            {
                try
                {
                    var user = new { Forename = Forename, Surname = Surname };
                    var token = WebSecurity.CreateUserAndAccount(UserName, Password, user, true);
                    var confirmationMessage = "Thank You for registering, please confirm your account at: " + Request.Url.GetLeftPart(UriPartial.Authority) + "/account/confirmaccount?token=" + HttpUtility.HtmlEncode(token);
                    message = "Thank You! Your account has been created you must confirm your account please check your email.";
                }
                catch (Exception ex)
                { message = ex.Message; }
            }


        }
    }
    <!DOCTYPE html>
    <html>
    <head>
        <title></title>
    </head>
    <body>
        <form method="post"> @AntiForgery.GetHtml() <fieldset> <legend>Register</legend> @Html.ValidationSummary(true) <div>@message</div> <div> <label>UserName (Email)</label> <input type="text" name="UserName" value="@UserName" /> @Html.ValidationMessage("UserName") </div> <div> <label>Password</label> <input type="password" name="Password" /> @Html.ValidationMessage("Password") </div> <div> <label>Confirm Password</label> <input type="password" name="ConfirmPassword" /> @Html.ValidationMessage("ConfirmPassword") </div> <div> <label>Forename</label> <input type="text" name="Forename" value="@Forename" /> @Html.ValidationMessage("Forename") </div> <div> <label>Surname</label> <input type="text" name="Surname" value="@Surname" /> @Html.ValidationMessage("Surname") </div> <input type="submit" value="Register" /> </fieldset> </form>

    </body>
</html>
